<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="{{site.baseurl}}{{ page.permalink}}images/{{page.fav}}">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="FairyTailsHub">
  <link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}{{ page.permalink}}images/{{page.fav}}">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="{{site.baseurl}}{{ page.permalink}}images/{{page.fav}}">
  <meta name="msapplication-TileColor" content="#3372DF">

  <link rel="shortcut icon" href="{{site.baseurl}}{{ page.permalink}}images/{{page.cover }}">
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  
  <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../css/book.css" rel="stylesheet" type="text/css">
      
</head>