<!DOCTYPE html>
<html>
  {% include book_head.html %}
  <body>
      <div class="navbar navbar-default navbar-inverse navbar-static-top">
            <div class="container">
                <div class="row">
                <div class="col-lg-8">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="{{site.baseurl}}/"><span class="glyphicon glyphicon-book"></span> FairyTalesHub</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
      <div class="container book-container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        
                        <!-- panel body -->
                        <div class="panel-body">
                            <div id="book" class="carousel slide" data-interval="false" data-wrap="false">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                        
                                    {% assign bookPages = content | split:'<!--page-->' %}
                                    {% assign counter=0 %}
                                    
                                    {% for bookPage in bookPages %}
                                        {% assign counter=counter | plus:1 %} 
                                        {% if forloop.first == true %}
                                            <!--Cover-->
                                            <div id="0" class="item">
                                                <div>
                                                    <div class="text-center">
                                                        <img data-src="{{site.baseurl}}{{ page.permalink}}images/{{page.cover }}" class="cover-image"/>
                                                    </div>
                                                </div>    
                                            </div>
                                        {% endif %}
                                            <!-- Page -->
                                            <div id="{{counter}}" class="item">
                                                <div>
                                                    <div class="text-center">
                                                        <img data-src="{{site.baseurl}}{{ page.permalink}}images/{{page.image}}{{counter}}.jpg" class="page-image"/>
                                                    </div>
                                                    <p>
                                                       {{ bookPage | remove: '<p>' | remove: '</p>'}}
                                                    </p>
                                                </div>    
                                            </div>
                                        

                                    {% endfor %}
                                </div>
                                
                                <!-- Left and right controls -->
                                  <a class=" carousel-control" href="#book" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left text-muted carousel-control-top" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                  <a class="carousel-control btn-right" href="#book" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right text-muted carousel-control-top" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                  </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
          
      </div>
        <!-- Footer -->
        <footer class="text-center">
            <div class="footer-above">
                <div class="container">
                    <div class="row">
                        <div class="footer-col col-md-12">
                     
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            $('#book').on('slide.bs.carousel', function (event) {
                if(typeof(Storage) !== "undefined") {
                    localStorage.setItem("{{ page.prefix }}", event.relatedTarget.id);
                }
                
                if(event.direction=="left"){
                    var $nextImage = $('.active.item', this).next('.item').find('img');
                    $nextImage.attr('src', $nextImage.data('src'));
                    
                    $nextImage = $('.active.item', this).next('.item').next('.item').find('img');
                    $nextImage.attr('src', $nextImage.data('src'));
                }else if(event.direction=="right"){
                    var $nextImage = $('.active.item', this).prev('.item').find('img');
                    $nextImage.attr('src', $nextImage.data('src'));
                    
                    $nextImage = $('.active.item', this).prev('.item').prev('.item').find('img');
                    $nextImage.attr('src', $nextImage.data('src'));
                }
            })
            
            if (localStorage.{{ page.prefix }}) {
                var $startPage= $('#'+localStorage.getItem("{{ page.prefix }}"));
                $startPage.find('img').attr('src', $startPage.find('img').data('src'));
                $startPage.addClass("active");
                
                var $nextImage = $('.active.item', this).next('.item').find('img');
                $nextImage.attr('src', $nextImage.data('src'));
                
                $nextImage = $('.active.item', this).prev('.item').find('img');
                $nextImage.attr('src', $nextImage.data('src'));
            }else{
                $('#0').find('img').attr('src', $('#0').find('img').data('src'));
                $('#0').addClass("active");
                
                var $nextImage = $('.active.item', this).next('.item').find('img');
                $nextImage.attr('src', $nextImage.data('src'));
            }
        });
    </script>
  </body>
</html>